<div class="container">
  <%= form_with( model: super_admin,locale: true ) do |form| %>
     <% if super_admin.errors.any? %>
	    <div id="error_explanation">
	      <h2><%= pluralize(client.errors.count, "error") %> prohibited this super_admin from being saved:</h2>

	      <ul>
	      <% super_admin.errors.full_messages.each do |message| %>
	        <li><%= message %></li>
	      <% end %>
	      </ul>
	    </div>
     <% end %>

      <div class="container-fluid jumbotron">
  	        <div class="row">
		    	<div class="form-group col-md-4">
		    		<%= form.label :first_name %>
		    		<%= form.text_field :first_name,id: :first_name ,autofocus: true,class: 'form-control'%>
		    	</div>
		    </div>

		    <div class="row">
		    	<div class="form-group col-md-4">
		    		<%= form.label :last_name %>
		    		<%= form.text_field :last_name,id: :last_name ,autofocus: true,class: 'form-control'%>
		    	</div>
		    </div>
		    	
		    <div class="row">
		    	<div class="form-group col-md-4">
		    		<%= form.label :username %>
		    		<%= form.text_field :username,id: :username ,autofocus: true,class: 'form-control'%>
		    	</div>
		    </div>
		    	
		    <div class="row">
		    	<div class="form-group col-md-4">
		    		<%= form.label :email %>
		    		<%= form.text_field :email,id: :email ,autofocus: true,class: 'form-control'%>
		    	</div>
		    </div>
		    	
		    <div class="row">
		    	<div class="form-group col-md-4">
		    		<%= form.label :password %>
		    		<%= form.text_field :password,id: :password ,autofocus: true,class: 'form-control'%>
		    	</div>
		    </div>
       </div>

       <%= button_tag(type: 'submit',class: 'btn btn-primary btn-lg button-drop') do %>
          <span class="glyphicon glyphicon-floppy-disk"></span>save
	   <% end %> 

  <% end %>
</div>