<%= form_for(@emergency, :html=> {:multipart => true}) do |form| %>
  <% if @emergency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emergency.errors.count, "error") %> prohibited this emergency from being saved:</h2>

      <ul>
      <% @emergency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
<div class="container-fluid jumbotron">
    <div class="row">
      <div class="form-group col-md-4">
      <%= form.label :address %>
      <%= form.text_field :address, id: :emergency_address,autofocus: true,class: 'form-control' %>
     </div>
    </div>
  
  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :latitude %>
      <%= form.text_field :latitude, id: :emergency_latitude,autofocus: true,class: 'form-control' %>
    </div>
  </div>
  
  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :longitude %>
      <%= form.text_field :longitude, id: :emergency_longitude,autofocus: true,class: 'form-control'  %>
    </div>
  </div>
  

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :description %>
      <%= form.text_area :description, id: :emergency_description,autofocus: true,class: 'form-control'  %>
    </div>
  </div>

  <div class="row">
    <div class="form-group col-md-4">
      <%= form.label :client_id %>
      <%= form.text_field :client_id, id: :emergency_client_id,autofocus: true,class: 'form-control'  %>
    </div>
  </div>

 <%= button_tag(type: 'submit',class: 'btn btn-primary btn-lg button-drop') do %>
        <span class="glyphicon glyphicon-floppy-disk"></span>save
    <% end %>
</div>
  
<% end %>
