<%= form_with(model: emergency, local: true) do |form| %>
  <% if emergency.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(emergency.errors.count, "error") %> prohibited this emergency from being saved:</h2>

      <ul>
      <% emergency.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :emergency_address %>
  </div>

  <div class="field">
    <%= form.label :latitude %>
    <%= form.text_field :latitude, id: :emergency_latitude %>
  </div>

  <div class="field">
    <%= form.label :longitude %>
    <%= form.text_field :longitude, id: :emergency_longitude %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description, id: :emergency_description %>
  </div>

  <div class="field">
    <%= form.label :client_id %>
    <%= form.text_field :client_id, id: :emergency_client_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
