<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @emergency.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @emergency.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @emergency.longitude %>
</p>

<p>
  <strong>Description:</strong>
  <%= @emergency.description %>
</p>

<p>
  <strong>Client:</strong>
  <%= @emergency.client %>
</p>

<%= link_to 'Edit', edit_emergency_path(@emergency) %> |
<%= link_to 'Back', emergencies_path %>
