<div class="container">
  <p id="notice"><%= notice %></p>

</div>
  <%= link_to new_client_path ,:class => 'btn btn-info btn-lg client-new' do %>
    <span class="glyphicon glyphicon-plus"></span>New Client
  <% end %>
 </div>

 <h1>Clients</h1>
 <div class="jumbotron">
    <table class='table table-hover'>
    <thead>
      <tr>
        <th>Client Number</th>
        <th>Fname</th>
        <th>Lname</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Status</th>
        <th>Insurance</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @clients.each do |client| %>
        <tr>
          <td><%= client.id %></td>
          <td><%= client.fname %></td>
          <td><%= client.lname %></td>
          <td><%= client.phone %></td>
          <td><%= client.email %></td>
          <td><%= client.status %></td>
          <td><%= client.insurance %></td>
          <td><%= link_to 'Show', client,:class => 'btn btn-success' %></td>
          <td><%= link_to 'Edit', edit_client_path(client) ,:class => 'btn btn-info'%></td>
          <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } ,:class => 'btn btn-danger'%></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>