<%= form_with(model: hospital, local: true) do |form| %>
  <% if hospital.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(hospital.errors.count, "error") %> prohibited this hospital from being saved:</h2>

      <ul>
      <% hospital.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
   
   <div class="container-fluid jumbotron">
      <div class="row">
        <div class="form-group col-md-4">
          <%= form.label :address %>
          <%= form.text_field :address, id: :hospital_address,autofocus: true,class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4"
          <%= form.label :latitude %>
          <%= form.text_field :latitude, id: :hospital_latitude,autofocus: true,class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <%= form.label :longitude %>
          <%= form.text_field :longitude, id: :hospital_longitude,autofocus: true,class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <%= form.label :name %>
          <%= form.text_area :name, id: :hospital_name,autofocus: true,class: 'form-control' %>
        </div>
      </div>

      <div class="row">
         <div class="form-group col-md-4">
          <%= form.label :phone %>
          <%= form.text_field :phone, id: :hospital_phone,autofocus: true,class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="form-group col-md-4">
          <%= form.label :email %>
          <%= form.text_field :email, id: :hospital_email,autofocus: true,class: 'form-control' %>
        </div>
      </div>

      <!-- <div class="actions">
        <%= form.submit %>
      </div>  --> 
      
      <%= button_tag(type: 'submit',class: 'btn btn-primary btn-lg button-drop') do %>
        <span class="glyphicon glyphicon-floppy-disk"></span>save
      <% end %>

   </div>

<% end %>
