<!DOCTYPE html>
<html>
  <head>
    <title>Project111</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

<body>
  <div id="rapide-logo">
     <p><%= image_tag('logo.png',:size => '150x100' ,:alt => 'logo' )%></p>
  </div>

 


<div class="container-fluid">
   <%= yield %>
</div> 

<script>
    var $MapAndForm = $("#emergency-register-form,#map");

    $(document).ready(function(){
          //code goes in here
        $('#emergency-switcher').on('click',function(){
          $MapAndForm.toggleClass('show-form');
        });
    });
</script>
  </body>
</html>


